<!DOCTYPE html>
<html>
<head></head>
<body>
	<footer class="footer" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4 col-lg-4">
					<p>
					<h3>
						<b>목회중점</b>
					</h3>
					1. 구별된 예배 공동체 (롬 12:1 ~ 2)<br />2. 돌봄과 충만한 은사공동체 (롬 12:8 ~ 13)<br />3.
					선을 행하는 사랑의 공동체 (롬 12:14 ~ 21)
					</p>
				</div>
				<div class="col-12 col-md-4 col-lg-4">
					<p>
					<h3>
						<b>예배시간</b>
					</h3>
					<li>주일예배: 주일 오후 12 시 (본당)</li>
					<li>주일학교 예배: 주일 오후 12 시 (강당)</li>
					<li>Youth 예배: 주일 오후 12 시 (소예배실)</li>
					<li>새벽예배: 화 - 목 오전 5 시 30 분 (소예배실)</li>
					<li>금요집회: 금요일 저녁 8 시 (소예배실)</li>
					<li>청년부예배: 주일오후 2시 30분 (소예배실)</li>
					</p>
				</div>
				<div class="col-12 col-md-4 col-lg-4">
					<p>
					<h3>
						<b>연락처</b>
					</h3>
					담임목사: 정재권<br /> <i class='fa fa-mobile'></i> 0424 991 017<br /> <i
						class='fa fa-envelope-o'></i> info@ckuc.org.au<br /> <i
						class='fa fa-map-marker'></i> 481 Broadwater Road<br />Mansfield
					QLD 4122
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>