<!DOCTYPE html>
<html>
<head th:fragment="head">
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
<title>Calvary Korean Uniting Church</title>
<link rel="stylesheet" href="webjars/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="css/common.css"></link>
<link rel="stylesheet" href="css/owl.carousel.min.css"></link>
<link rel="stylesheet" href="css/owl.theme.default.min.css"></link>

<script src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="/ckeditor/ckeditor.js"></script>
</head>
<body>
	<h1>Fragment - HEAD</h1>
</body>
</html>